body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.no-close .ui-dialog-titlebar-close {display: none }

.asdf{
    color:blue;
}
.boto2{
    margin-top: 36px;
}
.botoUno {
    background: red /* Color del botón */;
    height: 50px;  /* Alto del botón */
    width: 50px;  /* Ancho del botón */
    display: table;
    border-radius: 100%;
    cursor: pointer;
    box-shadow:
        /* Sombras externa */
        inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
            /* Sombra interna */
        0 5px 20px rgba(0,0,0,.1);
}

    /* Al presionar */
.botoUno:active {
    box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
    background-size: 15%; /* Cambiamos el tamaño de la imagen */
}
