<div class="page-header">
    <h1>Usuaris</h1>
</div>
<div id="form_buscar" class="form-inline">
    <div class="row">
        <div class="form-group col-md-8">
            <input id="cerca" type="text" class="form-control" name="nick" placeholder="Introdueix el nick de l'usuari" style="width: 100%">
        </div>
        <div class="col-md-2">
            <button type="submit" class="submit btn btn-primary" style="width: 100%">Buscar!</button>
        </div>
    </div>

    <div class="row">
        <div class="ui-widget error_crear col-md-3" style="margin-top: 10px; float: right; display: none">
            <div class="ui-state-error ui-corner-all" style="padding-top: .7em;padding-left: .7em;">
                <p class="msgErrorCrearPartida" style="text-align: center;"></p>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-sm-12">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nick</th>
                <th>ultimaConexio</th>
                <th>guanyades</th>
                <th>perdudes</th>
                <th>nivell</th>
            </tr>
            </thead>
            <tbody>
            <%
            // repeat items
            _.each(items, function(item) {
            %>
            <tr>

                <td>
                    <span class="idUsuari" style="display: none"><%= item.id %></span>
                    <%= item.nick %>
                </td>
                <td><%= item.ultimaConexio %></td>
                <td><%= item.guanyades %></td>
                <td><%= item.perdudes %></td>
                <td><%= item.nivell %></td>
            </tr>
            <%
            });
            %>
            </tbody>
        </table>

    </div>
</div>
