<div class="text-center">
    <h1><%= partida.get('nom') %></h1>
</div>
<div class="row">

    <div class="col-md-3">
        <h4 class="asdf">Número de Jugadors</h4>
        <%= partida.get('nMaxJugadors') %>
    </div>
    <div class="col-md-8" >
        <h4 class="asdf">Jugadors</h4>
        <div class="row">

            <%
            _.each(jugadors, function(item) {
            %>
            <div class="col-md-1">
                <%- item.usuari.nick %>
            </div>
            <%
            });
            %>
        </div>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-success btn-join">Join!</button>
        <button type="button" class="btn btn-danger btn-disjoin" style="display: none">Disjoin</button>
    </div>
</div>