<style type="text/css">
    .baralla {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 15px;
    }

    #piloTirades img,
    .baralla img {
        width: 60px;
        height: 100px;
    }
    .baralla img:hover{
        width: 80px;
        height: 120px;
    }


</style>
<div>
    <div class="row"> <!-- primer jugador a d'alt de tot -->
        <div class="col-xs-5">
            <h3 id="torn"></h3>
        </div>
        <div id="Jugador1" class="col-xs-1">
            <div class="row">
                <img src="images/cartes/comodins/darrera.jpg" width="60px" height="100px" style="float : left"/>
                <p style="float : right"></p>
            </div>
            <span></span>

        </div>



    </div>

    <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
        <div id="Jugador2" class="col-xs-1" ><!-- Jugador 2-->
            <div>
                <img src="images/cartes/comodins/darrera.jpg" width="60px" height="100px" style="float : left"/>
                <p style="float : right"></p>
            </div>
            <span></span>
        </div>
        <div class="col-xs-1 col-xs-offset-4"><!-- cartes tirades -->
            <div id="piloTirades">

            </div>
        </div>
        <div id="Jugador3" class="col-xs-1 col-xs-offset-4"><!-- Jugador 3-->
            <div>
                <img src="images/cartes/comodins/darrera.jpg" width="60px" height="100px" style="float : left"/>
                <p style="float : right"></p>
            </div>
            <span></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"><!-- botoUno-->
            <div class="boto2">
                <button type="button" class='botoUno'>UNO</button>
            </div>
        </div>
        <div id="Tu" class="col-xs-9"> <!-- les teves cartes -->
            <p style="text-align: center"></p>
            <div id="baralla" class="baralla" align="center">
            </div>
        </div>
        <div class="col-xs-1"> <!-- pilo -->
            <div id="piloAgafar" class="piloAgafar">
                <img src="images/pilon.jpg" width="200px" height="200px"/>
            </div>
        </div>

    </div>

    </div>

    <div style=" background-color: antiquewhite; bottom : 0;position: absolute ;width: 90%">

    <h5 class="asdf">XAT!!</h5>
    <div id="text_xat" style="overflow: scroll; height: 100px">

    </div>

    <div class="form-inline" >
        <div class="form-group"style="width: 90%">
            <input id="enviar_xat" type="text" style="width: 100%" name="enviar_xat">
        </div>
        <div class="form-group">
            <button type="submit" class="submit btn btn-primary"  style="width: 90%;margin: 3px">Envia</button>
        </div>
    </div>

</div>
<div id="escullColor" style="display:none" title="Escull Color">
   <div>
        <div class="row" >
            <div class="col-xs-2 col-xs-offset-4" >
                <button id="botoVermell" type="submit" class="submit btn btn-danger botoVermell" style="width: 100%">Vermell</button>
            </div>
            <div class="col-xs-2">
                <button id="botoBlau" type="submit" class="submit btn btn-primary botoBlau" style="width: 100%">Blau</button>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-2 col-xs-offset-4">
                <button id="botoVerd" type="submit" class="submit btn btn-success botoVerd" style="width: 100%">Verd</button>
            </div>
            <div class="col-xs-2">
                <button id="botoGroc" type="submit" class="submit btn botoGroc" style="width: 100%; background-color:#ffff00 ">Groc</button>
            </div>
        </div>
   </div>
</div>
<div id="guanyador" style="display:none" title="Fi de partida">
    <p style="text-align: center"></p>
</div>