<div class="page-header">
    <h1>Partides</h1>
</div>
<a href="#" class="showCreaPartida">Crea una partida</a>
<div id="form_partida" class="form-inline" style="margin-bottom: 10px; display: none">
    <div class="row">
        <div class="form-group col-md-8">
            <input type="email" class="form-control" name="nom" placeholder="Introdueix el nom de la partida" style="width: 100%">
        </div>
        <div class="form-group col-md-2">
            <select name="max_jugadors" class="form-control" style="width: 100%">
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="submit btn btn-primary" style="width: 100%">Crea!</button>
        </div>
    </div>

    <div class="row">
        <div class="ui-widget error_crear col-md-3" style="margin-top: 10px; float: right; display: none">
            <div class="ui-state-error ui-corner-all" style="padding-top: .7em;padding-left: .7em;">
                <p class="msgErrorCrearPartida" style="text-align: center;"></p>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-sm-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Jugadors</th>
                    <th>Màxims jugadors</th>
                </tr>
            </thead>
            <tbody>
                <%
                // repeat items
                items.each(function(item,key,list) {
                %>
                    <tr>

                        <td>
                            <span class="idPartida" style="display: none"><%= item.get('id') %></span>
                            <%= item.get('nom') %>
                        </td>
                        <td><%= item.get('NumJugadors') %></td>
                        <td><%= item.get('nMaxJugadors') %></td>
                    </tr>
                <%
                });
                %>
            </tbody>
        </table>

    </div>
</div>
<div class="detall_partida"></div>
